DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

FRONTEND_URL=http://localhost:3000
VERIFICATION_TOKEN_EXPIRATION_HOURS=24

GOOGLE_CLIENT_ID=

SPRING_SECURITY_LOG_LEVEL=INFO
KAIROSB_LOG_LEVEL=INFO